/*--------------------
        Footer
---------------------*/
footer.footer, #footer.footer {
    background-color: #525d6b;
    color: #fff;
    margin-top: 4.5rem;
    padding: 1.5rem 0;
    font-size: 80%;
    text-align: center;
}
footer.footer h3, #footer.footer h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}
footer.footer ul, #footer.footer ul {
    text-align: center;
    margin-bottom: 2rem;
}
footer.footer ul > li, #footer.footer ul > li {
    margin-bottom: .2rem;
}
footer.footer ul > li i, #footer.footer ul > li i {
    margin-right: .5rem;
}
footer.footer a:hover, #footer.footer a:hover {
    color: #fff;
}
@media screen and (min-width: 768px) {
    footer.footer, #footer.footer, footer.footer ul, #footer.footer ul {
        text-align: left;
    }
}
/*--------------------
        Bottom
---------------------*/
footer.footer .bottom, #footer.footer .bottom {
    font-size: 65%;
}
footer.footer .bottom .divider, #footer.footer .bottom .divider {
    margin-right: .5rem;
    margin-left: .5rem;
}